body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color:#dae1dd;
    
}

.vertical-nav {
    width: 200px;
    height: 100vh;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .vertical-nav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
  }
  .vertical-nav a:hover {
    background-color: #575757;
    color: #ffffff;
  }
  .vertical-nav a.active {
    background-color: #04AA6D;
    color: white;
  }
  